*.pyc

*.tgz

*.tar

data/fish/VOCdevkit/VOCFish/Ori/train

darknet19_448.conv.23

*.weights

*.jpg

*.png

*.o

obj/

old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
